<div class="row animated fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #input (keyup)="buscarMedico( input.value )"
            type="text"
            class="form-control"
            placeholder="buscar medico ..."
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
              
            <div class="row">
                <div class="col-6">
                  <h3 class="card-title"> 
                    Medicos Registrados ( <small> {{ _medicoService.totalMedicos }} </small>  ) 
                  </h3>
                </div>
                <div class="col-6 text-right">
                  <button class="btn waves-effect waves-light btn-rounded btn-primary" (click)="crearMedico()">
                    <i class="fa fa-plus pr-1"></i>
                    Crear medico
                  </button>
                </div>
              </div>
    
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Foto</th>
                    <th>Medico</th>
                    <th>Hospital</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medico of medicos">
                    <td class="w-70">
                      <img [src]="medico.img | imagen: 'medico'" 
                        class="img-50 img-circle" 
                        (click)="actualizarImagen( hospital )"
                      >
                    </td>
                    <td>
                      {{ medico.nombre }}
                    </td>
                    <td>
                       <!--  {{ medico.hospital.nombre }} -->
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="editarMedico( medico )">
                          <i class="fa fa-edit"></i>
                        </button>
          
                        <button class="btn btn-danger" (click)="borrarMedico( medico )">
                          <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
    
              <button (click)="cambiarDesde(-5)" class="btn btn-secondary">Anterior</button>
              <button (click)="cambiarDesde(5)" class="btn btn-secondary">Siguiente</button>
    
          </div>
        </div>
      </div>
    </div>
