<div class="row">
  <div class="col-12">
    <h4>Bienvenido a adminPro</h4>
    <article class="text-justify">
      Esta aplicacion es un plataforma administrativa para el control de registro medicos de
      clinicas y hospitales a nivel nacional. Compuesta en su totalidad por 3 modulos principales
      que integra todo el sistema. <br><br>
      Es un prototipo diseñado para usuarios que necesitan agilidad para los procesos administrativos
      dentro de la organizacion. Permite la ampliacion de los servicios del hospital hacia su personal.
    </article>
  </div>
</div>
